<!-- your html code here -->
<div class="card p-4">
    <h4 class="card-title">Contact</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eaque, ut,
            exercitationem fugiat quia repellendus culpa dolores nemo animi qui porro quod ab voluptate odio,
            dignissimos deleniti asperiores nobis perferendis.</p>
        <form class=" mx-5 p-3 bg-light">
            <div class="m-3 row">
                <label for="exampleFormControlInput1" class="form-label col-md-3">Your E-mail</label>
                <input type="email" class="form-control col-md-9" id="exampleFormControlInput1" placeholder="Your email">
            </div>
            <div class="m-3 row">
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Please enter your message here..."></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
        </form>
</div>
