<!-- your html code here -->
<div class="card p-4">
    <h4 class="card-title">Portfolio</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eaque, ut, exercitationem fugiat quia repellendus culpa dolores nemo animi qui porro quod ab voluptate odio, dignissimos deleniti asperiores nobis perferendis.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aspernatur reiciendis eos maxime porro repellat sapiente blanditiis quod totam in, nostrum qui, molestias eveniet facilis modi libero non assumenda rerum.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae officia, quod ipsum at corrupti libero esse aliquam repellat harum, provident labore eum voluptatum inventore distinctio! Obcaecati maiores quas molestias.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquid praesentium veniam velit sed similique alias quae illo dolorem dolore? Sint quam alias fugiat obcaecati, ipsa illo at iure minus.</p>
                </div>
            </div>
        </div>
    </div> 
</div>