<!-- your html code here -->
<div class="card p-4">
    <div class="row g-0 d-flex justify-content-around">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq3GrS1SusFMTnHODx8Xh0jBnv5V5HDbX-tw&usqp=CAU" class="rounded-circle" alt="...">
      </div>
      <div class="col-md-8 d-flex justify-content-center">
        <div class="card-body">
          <h4 class="card-title">The Second Heading Is Pretty Cool Too</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sint eligendi, ea doloremque nobis commodi iusto praesentium natus fugit dolor repellat veritatis aut blanditiis iure, odit, harum ratione voluptates? Ipsa?</p>
        </div>
      </div>
    </div>
  </div>